body {
    background-color: #121212;
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 80%;
    max-width: 400px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: none;
}

.btn {
    background-color: #E50914;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #B20710;
}